body {
    background-color: #222;
}

.square {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(purple, yellow);
    transition: display 2s allow-discrete, opacity 2s;
}

.square.hide {
    display: none;
    opacity: 0;
}