body {
    background-color: #222;
}

.square {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(purple, yellow);
    transition: all 2s allow-discrete;
}

.square:hover {
    background-image: linear-gradient(skyblue, violet);
}
