body {
    background-color: #222;
}

.square {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    transition: transform 1s ease-in-out, background-color .3s;
}

.square:hover {
    transform: rotate(45deg);
    background-color: yellow;
}